sermon_HKBC_1928-2007.pdf filter=lfs diff=lfs merge=lfs -text
sermon_HKBC_2008-present.pdf filter=lfs diff=lfs merge=lfs -text
sermon_JNG_2012-18.pdf filter=lfs diff=lfs merge=lfs -text
sermon_JNG_2019-20.pdf filter=lfs diff=lfs merge=lfs -text
sermon_JNG_2021-22.pdf filter=lfs diff=lfs merge=lfs -text
