.DS_Store
.Trash-0
.ipynb_checkpoints
airflow
cron
logs
*.mp3
*.wav
*.mp4
*.mkv
*.part
*.part.*
*.webm
*.swp
i
ii
iii
ij
ijij
ijk
i1
i1.*
i2
i2.*
i3
i3.*
i4
i4.*
i5
i5.*
j1
j1.*
j2
j2.*
j2
j3
j3.*
j4
j4.*
.venv
.vscode
