sermon_ACSMHK.pdf filter=lfs diff=lfs merge=lfs -text
sermon_ACSMHK_2022-24.pdf filter=lfs diff=lfs merge=lfs -text
sermon_CBI.pdf filter=lfs diff=lfs merge=lfs -text
sermon_CGST.pdf filter=lfs diff=lfs merge=lfs -text
sermon_DSCCC_2009-present.pdf filter=lfs diff=lfs merge=lfs -text
sermon_FLWC_2020-present.pdf filter=lfs diff=lfs merge=lfs -text
sermon_FVC_2017-present.pdf filter=lfs diff=lfs merge=lfs -text
sermon_FVC_2017-22.pdf filter=lfs diff=lfs merge=lfs -text
sermon_FVC_2023-28.pdf filter=lfs diff=lfs merge=lfs -text
sermon_GFC_2020-present.pdf filter=lfs diff=lfs merge=lfs -text
sermon_HKBC_1928-2007.pdf filter=lfs diff=lfs merge=lfs -text
sermon_HKBC_2008-present.pdf filter=lfs diff=lfs merge=lfs -text
sermon_JNG_2012-18.pdf filter=lfs diff=lfs merge=lfs -text
sermon_JNG_2019-20.pdf filter=lfs diff=lfs merge=lfs -text
sermon_JNG_2021-22.pdf filter=lfs diff=lfs merge=lfs -text
sermon_JNG_2023-24.pdf filter=lfs diff=lfs merge=lfs -text
sermon_KFC_2020-present.pdf filter=lfs diff=lfs merge=lfs -text
sermon_PORCH_2014-present.pdf filter=lfs diff=lfs merge=lfs -text
sermon_STBC_2020-present.pdf filter=lfs diff=lfs merge=lfs -text
sermon_VINE_2020-present.pdf filter=lfs diff=lfs merge=lfs -text
sermon_WWBS.pdf filter=lfs diff=lfs merge=lfs -text
sermon_YFCX_2020-present.pdf filter=lfs diff=lfs merge=lfs -text
sermon_YFCX_2020-23.pdf filter=lfs diff=lfs merge=lfs -text
sermon_YFCX_2024-27.pdf filter=lfs diff=lfs merge=lfs -text
sermon_YOS.pdf filter=lfs diff=lfs merge=lfs -text
